*{
    padding: 0;
    margin: 0;
}

body{
   background-color: #4B27A1;
   font-family: sans-serif;
   color:#fff; 
}



header{
    background-color: #2D1761;
    position:fixed;
    width: 100%;
    top:0;
    text-align: center;
}

header nav ul li{
    float: right;
    padding: 4px 20px 4px 4px;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    padding: 4px;
}

h1{
    padding: 6px 0px 0px 100px ;
    font-size: "8";
    float: left;
   
}

a{
    outline: none;
    color: #fff;
    text-decoration: none;
}

a:focus{
    background:black;
}

.navegador li{ 
    
    display: inline;
}

#hombre {
    width: 40%;
    padding: 100px 0px 100px 0px;

}

#mujer {
    width: 40%;
    padding: 100px 0px 100px 0px;
}

form{
    text-align: center;
}

form input{
    border-radius: 4px;
    width: 300px;
    height: 20px;
}


.formulario{
    list-style: none;
    padding: 10px;
    position: relative;
    top: 40px;
    background-color: #0EF052;
    color: black;
    display: inline-block;
    border-radius: 1em;
    box-shadow:2px 2px 3px  black;
}


.formulario li{
    padding: 8px;
}

footer{
    text-align: center;
    color: white;
    background-color: #2D1761;
    height: 50px;
    padding: 50px;
}

footer li{
    padding: 10px;
    display: inline;
}