body{
   background-color: #4B27A1;
   padding: 0;
   height: 0;
}

header{
    text-align: center;
}

header nav li{
    padding: 10px;
    
}

h1{
    background-color: #2D1761;
    padding: 1em;
    font-size: "8";
    height: 50px;
}

a{
    outline: none;
    color: #fff;
    text-decoration: none;
}

a:focus{
    background:black;
}

.navegador li{ 
    
    display: inline;
}


form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
  border-radius: 1em;
  float: center;
}

.formulario{
    list-style: none;
    padding: 0;
    margin:0;
}

label{
    display: inline-block;
    width: 90px;
    text-align: left;
}

.formulario li{
    padding: 3px;
}

footer{
    text-align: center;
    color: white;
    background-color: #2D1761;
    height: 50px;
    padding: 50px;
}

footer li{
    padding: 10px;
    display: inline;
}