* {
    padding: 0%;
    margin: 0%;
}

body{
    background-color:white;
    font-family: sans-serif;
}

.jumbotron{
    font-family: 'Fredoka One', cursive;
}

#hombreFondo {
    background-image: url(../boy.jpg);
    color:#000000;
    font-family: 'Fredoka One', cursive;
}

#mujerFondo {
    background-image: url(../girl.jpg);
    background-color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
}

.card{
    background-color:grey;
}

.pie_pagina{
    color: white;
}

#producto{
    padding-left: 23px;
}

#fondoF{
    background: url(../imagenes/fondo_formulario.jpg); 
}

.formulario{
    padding: 40px;
}

.formulario_r{
    padding: 50px;
    margin: auto;
}

.nav-link{
    color:rgba(255,255,255,.5);
}

#pag_h{
    background: url(../boy.jpg);
}

#pag_m{
    background:url(../girl.jpg);   
}